@import "./variables";

.no-margin {
  margin: 0 !important;
}

.inte-item { /* .interaction-item */
  border: 1px solid transparent;
  color: $text-color;
  cursor: pointer;
  outline: none;
  padding: 2px;
  text-decoration: none;

  &.has-error {
    background-color: $alert-danger-bg !important;
    border: 1px solid $alert-danger-border !important;
  }

  &.disabled, &.disabled:hover, &.disabled:focus {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus, &.focus {
    border: 1px solid $hover-border-color;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    border: 1px solid $hover-border-color;
  }

  &:hover, &.active {
    background-color: $hover-bg;
    color: $text-color;
    outline: none;
    text-decoration: none;
  }

  &:active, &.active:hover {
    background-color: $active-bg;
    border: 1px solid $active-border-color;
    outline: none;
    text-decoration: none;
  }
}
