// Custom
$menu-bg: #F5F6F7;
$menu-border-color: #D9D9D9;

// Body
$body-bg: #fff;
$border-radius-base: 0;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$main-color: #35366a;
$second-color: #585ba9;
$grad-1-color: #424383;
$footer-bg: $second-color;
$footer-text-color: #c6c8fd;

$brand-primary: $second-color;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #4d4d4d;

// Navbar
$navbar-default-bg: #eeeeee;
$navbar-inverse-bg: $main-color;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $body-bg;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Theme interaction-item colors
$active-border-color: #3598E8;
$hover-border-color: transparentize($active-border-color, 0.3);
$active-bg: transparentize($active-border-color, 0.6);
$hover-bg: transparentize($active-border-color, 0.8);


@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";